<div class="card mt-3">
    <div class="block bg-white text-center p-4 border-round mb-3" >
        <h1>Confirmación de asistencia</h1>
        <p>Eres muy importante para nosotros, entendemos si no puedes acompañarnos, pero si requerimos tu confirmación.<br>
            NO NIÑOS MENORES A 12 AÑOS</p>

        <div class="block mb-2">
            <h2>NOMBRE COMPLETO</h2>
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText class="form"> 
            </span>
        </div>
        
        <div class="block mb-2">
            <h2>¿ASISTIRÁ?</h2>
            <mat-radio-group aria-label="Selecciona una opción">
                
                <mat-radio-button value="2">Sí, asistiré.</mat-radio-button>
                <mat-radio-button value="3">Lo siento, no podré asistir.</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="block mb-2">
            <h2>SI LO DESEA, ESCRÍBANOS UN BONITO MENSAJE</h2>
            <textarea rows="5" cols="30" pInputTextarea class="form"></textarea>
        </div>

        <div class="block mb-2">
            <button pButton type="button" label="Enviar" icon="pi pi-check" class="p-button-danger"></button>
        </div>
        
    </div>
</div>
