<div class="card mt-3">
    <div class="block bg-white font-bold text-center p-2 border-round mb-3">

        <div class="flex align-items-center justify-content-center">
            <div class="flex-auto flex align-items-center justify-content-center font-bold text-grey m-2 px-5 py-3 border-round">
                <p-card>
                    <ng-template pTemplate="title">
                        <p>CEREMONIA</p>
                    </ng-template>
                    <img src="/assets/ceremonia.jpg" width="100%" alt="Ceremonia">
                    <ng-template pTemplate="footer">
                        <p>
                            PARROQUIA SANTUARIO DE
                            NUESTRA SEÑORA DE GUADALUPE <br>
                            Jardín SN, Guadalupe, 25750 Monclova, Coah.
                            Hora: 4:00 PM
                        </p>
                        <button pButton type="button" label="Ver mapa" class="p-button-danger"></button>
                    </ng-template>
                </p-card>
            </div>

            <div class="flex-auto flex align-items-center justify-content-center font-bold text-grey m-2 px-5 py-3 border-round">
                <p-card>
                    <ng-template pTemplate="title">
                        <p>RECEPCIÓN</p>
                    </ng-template>
                    <img src="/assets/ceremonia.jpg" width="100%" alt="Ceremonia">
                    <ng-template pTemplate="footer">
                        <p>
                            PARTENÓN BY
                            HOTEL HOLIDAY INN <br>
                            Blvd Harold R. Pape 200, Guadalupe, 25750 Monclova, Coah.
                            Hora: 7:00 PM
                        </p>
                        <button pButton type="button" label="Ver mapa" class="p-button-danger"></button>

                    </ng-template>
                </p-card>
            </div>

        </div>


    </div>
</div>