<div class="card mt-3">

    <div class="card-container blue-container">
        <div class="block bg-white font-bold text-center p-4 border-round mb-3">

            <div class="flex align-items-center justify-content-center">
                <p>CON LA BENDICIÓN DE DIOS Y DE NUESTROS PADRES</p>
            </div>
            
            <div class="flex">
                <div class="flex-auto flex align-items-center justify-content-center bg-white font-bold text-grey m-2 px-5 py-3 border-round">
                    <p>Flores Santana 
                        <br>(Familia de la novia)
                    </p>
                </div>
               
                <div class="flex-auto flex align-items-center justify-content-center bg-white font-bold text-black m-2 px-5 py-3 border-round">
                    <p>Valverde Maya
                        <br>(Familia del novio)
                    </p>
                </div>
            </div>

            <div class="flex align-items-center justify-content-center">
                <p>Dios juntó nuestras manos y nos señaló el camino.<br>
                    Nosotros uniremos nuestras vidas y lo recorreremos con amor y fe.</p>
            </div>
        </div>
    </div>
</div>